{% import 'snippets/csrf.html' as csrf with context %}

<p class="blog-votes">
	<a class="vote-button-down like-button like-button-down 
	{%- if not user or user.user_id in post.downvotes %} disabled{% endif %}" 
	{%- if user %}
	href="{{ csrf.uri_for('blog-vote', post_id=post_id, like='down')}}"
	{% endif -%}
	>-</a>
	<span class="vote-result like-score">{{ post.score or 0 }}{#<- suppress None #}</span>
	
	<a class="vote-button-up like-button like-button-up
	{%- if not user or user.user_id in post.upvotes %} disabled{% endif %}"
	{%- if user %}
		href="{{ csrf.uri_for('blog-vote', post_id=post_id, like='up')}}"
	{% endif -%}
	>+</a>
	
</p>
