{% extends "layout.html" %}

{% block body %}
<nav class="frontpage-actions">
	{% if user %}
	<a href="{{uri_for('blog-newpost')}}" class="frontpage-actions-link add-post">Add post</a>
	{% endif %}
</nav>
{% if posts %}
{% for post in posts %}
{% set author = users_dict[post.author] %}
<article>
	<h2 class="blog-title"><a href="{{uri_for('blog-post', post_id=post.key.id() )}}">{{post.title|striptags|e}}</a></h2>
	<p class="blog-date">{{post.created.strftime('%B %d, %Y') }}</p>
	<p class="blog-author">
		<img class='avatar' src="/img/ava/{{author['avatar']}}">
		<span class="name">by <em>{{author['name']}}</em></span></p>
	<div class="article-contents">
	{{post.content|safe}}
	</div>
	<div class="article-info">
		{% if post.score is defined %}
		<p class="blog-votes">
			<a class="vote-button-down" href="#down">-</a>
			<span class="vote-result">{{post.score}}</span>
			<a class="vote-button-up" href="#up">+</a>
		</p>
		{% endif %}
		
		<p class="blog-comments"><a href="/blog/1/">
		{%if post.comments %}
			{{ post.comments|count }} comments
		{% else %}
			Comment
		{% endif %}
		</a></p>
	</div>
</article>

{% endfor %}
{% else %}
<p>The blog is empty.</p>
{% endif %}

{% endblock %}
